@import url("../hypr/colors.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Symbols Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(40,40,40,0.8);
    border-radius: 8px;
    /*
    border-bottom: 2px solid rgba(180,190,254,0.6);
    border-left: 2px solid rgba(180,190,254,0.6);
    border-right: 2px solid rgba(180,190,254,0.6);
    */
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: @yellow;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.4);
}

#workspaces button.active {
    padding: 0 5px;
    color: @yellow;
}

#workspaces button.empty {
    color: @fg;
}

#workspaces button.empty.active {
    color: @yellow;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#battery,
#network,
#pulseaudio,
#tray,
#workspaces,
#window,
#custom-power,
#custom-vpn,
#custom-pomo,
#custom-cava,
#custom-playerctl {
    padding: 0 8px;
}

#custom-playerctl {
    color: @aqua;
}

#battery {
    color: @blue;
}

#network {
    color: @green;
}

#custom-vpn {
    color: @blue;
}

#pulseaudio {
    color: @yellow;
}

#custom-pomo {
    color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
